<button class="btn btn-primary btn-lg mx-2 group-button-form"
        type="submit"
        readonly
        asp-page-handler="GuardarBorrador">
    Guardar tr&aacute;mite como Borrador
</button>

<button class="btn btn-success btn-lg mx-2 group-button-form"
        type="submit"
        readonly
        asp-page-handler="Enviar">
    Enviar tr&aacute;mite
</button>

<a asp-page="/Index"
   class="btn btn-secondary btn-lg mx-2"
   readonly>Cancelar</a>