@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@*<h1>
    Iniciar Trámite
</h1>

<h3>
    <small>Seleccione el trámite que desea iniciar</small>
</h3>

<h3>
    Teletrabajo
</h3>
<hr>*@




<!--<div class="row">
    <div class="col-sm-6">
        <a class="panel panel-default panel-icon panel-secondary" asp-page="Formulario" style="width:300px">-->
            @*<div class="panel-heading icon-fix"><i class="fa fa-file"></i> </div>*@

            <!--<img class="image-responsive" width="300" height="100" src="~/Content/img/teletrabajo.jpg" alt="Teletrabajo">

            <div class="panel-body">
                <h3>Iniciar Trámite</h3>
                <p class="text-muted">Formulario de Teletrabajadores</p>
            </div>
        </a>

    </div>-->



    <div class="container">
        @*<img src="~/Content/img/encabezado.png" class="rounded mx-auto d-block" alt="MTEySS" />*@
        <form method="post" class="col-md-6 offset-md-3 my-4">
            <div class="form_group">
                <label class="control-label">CUIL</label>
                <input asp-for="@Model.CUIL" class="form-control" />
                <span asp-validation-for="@Model.CUIL" class="text-danger"></span>

            </div>
            <br />
            <div class="form-group row">

                <div class="col">
                    <input type="submit" value="Ingresar" class="btn btn-success" />
                </div>




            </div>
        </form>


    </div>

